<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Yeni Kayıt" icon="pi pi-plus" class="p-button-success mr-2"
                                (click)="openNew()"></button>
                        <button pButton pRipple label="Sil" icon="pi pi-trash" class="p-button-danger"
                                (click)="deleteSelectedUsers()"
                                [disabled]="!selectedUsers || !selectedUsers.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="users"
                     [lazy]="true"
                     (onLazyLoad)="loadUsers($event)"
                     dataKey="id"
                     [tableStyle]="{ 'min-width': '75rem' }"
                     [selection]="selectedUsers"
                     (selectionChange)="onSelectionChange($event)"
                     [selectAll]="selectAll"
                     (selectAllChange)="onSelectAllChange($event)"
                     [paginator]="true"
                     [rowsPerPageOptions]=rowsPerPageOptions
                     [rows]="10"
                     [totalRecords]="totalRecords"
                     [loading]="loading"
                     [globalFilterFields]="['name', 'surname', 'username']">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Kullanıcı Yönetimi</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">Ad
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="surname">Soyad
                            <p-sortIcon field="surname"></p-sortIcon>
                        </th>
                        <th pSortableColumn="username">Kullanıcı Adı
                            <p-sortIcon field="username">Kullanıcı Adı</p-sortIcon>
                        </th>
                        <th pSortableColumn="created_at">Oluşturulma Tarihi
                            <p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                        <th pSortableColumn="updated_at">Güncellenme Tarihi
                            <p-sortIcon field="updatedAt"></p-sortIcon>
                        </th>
                        <th pSortableColumn="changed_by">Oluşturan/Güncelleyen
                            <p-sortIcon field="changed_by"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="name" [showMenu]="false"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="surname" [showMenu]="false"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="username" [showMenu]="false"></p-columnFilter>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Ad</span>
                            {{ user.name }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Soyad</span>
                            {{ user.surname }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Kullanıcı Adı</span>
                            {{ user.username }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Oluşturulma Tarihi</span>
                            {{ user.createdAt | date }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Güncelleme Tarihi</span>
                            {{ user.updatedAt | date}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Oluşturan/Güncelleyen</span>
                            {{ user.changed_by }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                        (click)="editUser(user)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        (click)="deleteUser(user)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="Kullanıcı Oluşturma" [modal]="true"
                  class="p-fluid">
            <form [formGroup]="userForm">
                <div class="form-group">
                    <p-card>
                    <ng-template pTemplate="content">
                        <div class="field">
                            <label for="name">Ad</label>
                            <input type="text" pInputText id="name" formControlName="name"  autofocus
                                   class="form-control"/>
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                                <div *ngIf="name.errors?.['required']">
                                    Ad alanı zorunlu.
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="surname">Soyad</label>
                            <input type="text" pInputText id="surname" formControlName="surname" autofocus
                                   class="form-control"/>
                            <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger">
                                <div *ngIf="surname.errors?.['required']">
                                    Soyadı alanı zorunlu.
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for="username">Kullanıcı Adı</label>
                            <input type="text" pInputText id="username" formControlName="username" autofocus
                                   [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.username}"/>
                            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                                <div *ngIf="username.errors?.['required']">
                                    Kullanıcı adı alanı zorunlu.
                                </div>
                            </div>
                        </div>

                    </ng-template>
                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                                (click)="hideDialog()"></button>
                        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                                type="submit" [disabled]="userForm.invalid" (click)="saveUser()"></button>
                    </ng-template>
                    </p-card>
                </div>

            </form>
    </p-dialog>

    <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="user">Kullanıcıyı Silmek İstiyor musunuz? <b>{{ user.name }}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteUserDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteUsersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Are you sure you want to delete selected products?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteUsersDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
        </ng-template>
    </p-dialog>
</div>
</div>
